if SHIELD_PEGASUS_LEFT

config ZMK_PEGASUS
    bool "Enable Pegasus shield"
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default y

endif

if SHIELD_PEGASUS_LEFT || SHIELD_PEGASUS_RIGHT

config ZMK_SPLIT
    bool
    default y

endif