if SHIELD_PEGASUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Pegasus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PEGASUS_LEFT || SHIELD_PEGASUS_RIGHT

config ZMK_SPLIT
    default y

endif