#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



/ {
        keymap {
                compatible = "zmk,keymap";
        
                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC   |  NONE  |   F1  |     F2    |    F3   |   F4   |  F5  | NONE |      |  NONE  |  F6  |   F7   |       F8        |   F9   |  F10    |  F11    |  F12    |
// | GRAVE |   N1   |   N2  |     N3    |    N4   |   N5   |  N6  | NONE |      |  NONE  |  N7  |   N8   |       N9        |   N0   |  MINUS  |  EQUAL  |  BSPC   |
// | TAB   |   Q    |   W   |     E     |    R    |   T    |  Y   | NONE |      |  NONE  |  U   |   I    |       O         |   P    |  LBKT   |  RBKT   |  NONE   |
// | DEL   |   A    |   S   |     D     |    F    |   G    |  H   | RET  |      |   J    |  K   |   L    |      SEMI       |  APOS  |  BSLH   |  INS    |  PG_UP  |
// | SHIFT |  HOME  |  END  |     Z     |    X    |   C    |  V   | NONE |      |   B    |  N   |   M    |      COMMA      |  DOT   |  FSLH   |  UP     |  PG_DN  |
// | CTRL  |  LWIN  |  FN   |   CPSLK   |  PSCRN  |  LALT  | NONE | SPC  |      |  SPC   | NONE |  RALT  |   PAUSE_BREAK   |  SLCK  |  LEFT   |  DOWN   |  RIGHT  |
                        bindings = <
   &none    &none    &none  &none    &none   &none   &none  &none         &none    &none  &none   &none          &none   &none   &none   &none
   &none  &none   &none  &none   &none    &none   &none  &none         &none    &none &none    &none         &none   &none &none &none
  &none   &kp Q    &kp W   &kp E     &kp R     &kp T    &kp Y   &none         &none    &kp U   &kp I     &kp O           &kp P    &none  &none  &none 
   &none    &kp A    &kp S   &kp D     &kp F     &kp G    &kp H   &none      &kp J    &kp K   &kp L     &none        &none &none  &none   &none
   &none &none &none &kp Z     &kp X     &kp C    &kp V   &none         &kp B    &kp N   &kp M     &none       &none  &none  &none  &none
   &none  &none &mo 1   &none  &none &none &none   &kp SPACE    &kp SPACE &none   &none &none &none &none  &none  &none
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | TRNS  |  NONE  |   C_BRI_DN   |  C_BRI_UP |  C_VOL_DN  |  C_VOL_UP  |  C_MUTE   | NONE |     |  NONE   | C_RW |  C_PP  |      C_FF      |  TRNS  |  TRNS   |  F11    |  F12   |
// | TRNS  |  BTL0  |     BTL1     |    BTL2   |    BTL3    |    BTL4    |   TRNS    | NONE |     |  NONE   | TRNS |  TRNS  |      TRNS      |  TRNS  |  TRNS   |  TRNS   |  TRNS  |
// | TRNS  |  TRNS  |     TRNS     |    TRNS   |    TRNS    |    TRNS    |   TRNS    | NONE |     |  NONE   | TRNS |  TRNS  |      TRNS      |  TRNS  |  TRNS   |  TRNS   |  NONE  |
// | TRNS  |  TRNS  |     TRNS     |    TRNS   |    TRNS    |    TRNS    |   TRNS    | TRNS |     |  TRNS   | TRNS |  TRNS  |      TRNS      |  TRNS  |  TRNS   |  TRNS   |  TRNS  |
// | TRNS  |  TRNS  |     TRNS     |    TRNS   |    TRNS    |    TRNS    |   TRNS    | NONE |     |  TRNS   | TRNS |  TRNS  |      TRNS      |  TRNS  |  TRNS   |  TRNS   |  TRNS  |
// | TRNS  |  TRNS  |     TRNS     |    TRNS   |    TRNS    |    TRNS    |   NONE    | TRNS |     |  TRNS   | NONE |  TRNS  |      TRNS      |  TRNS  |  TRNS   |  TRNS   |  TRNS  |
                        bindings = <
   &trans    &none          &trans          &trans          &trans          &trans          &trans       &none        &none    &trans   &trans    &trans    &trans    &trans    &trans    &trans
   &trans    &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2    &bootloader     &bt BT_CLR      &trans       &none        &none    &trans   &trans    &trans    &trans    &trans    &trans    &trans
   &trans    &trans         &trans          &trans          &trans          &trans          &trans       &none        &none    &trans   &trans    &trans    &trans    &trans    &trans    &none 
   &trans    &trans         &trans          &trans          &trans          &trans          &trans       &trans       &trans   &trans   &trans    &trans    &trans    &trans    &trans    &trans
   &trans    &trans         &trans          &trans          &trans          &trans          &trans       &none        &trans   &trans   &trans    &trans    &trans    &trans    &trans    &trans
   &trans    &trans         &trans          &trans          &trans          &trans          &none        &trans       &trans   &none    &trans    &trans    &trans    &trans    &trans    &trans
                        >;
                };
        };
};
